.image {
  width: 350px;
  height: 350px;
}
.details {
  padding: 0 10px;
  width: 330px;
}
#container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 25%);
  width: 96vw;
  margin-left: 38%;
  padding-top: 20px;
}
.button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.fa {
  font-size: x-large !important;
  font-weight: 700 !important;
  color: #268bd2;
}
.button :hover {
  background-color: rgba(226, 198, 237);
}
#output {
  max-height: 200px;
  width: 300px;
  display: none;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
  border: 1px solid black;
  margin: auto;
  box-shadow: 0 0 8px 4px hsl(0deg 0% 78% / 21%);
}
#output p {
  border: 1px solid black;
  cursor: pointer;
  margin: 0;
}
#output::-webkit-scrollbar {
  display: none;
}
body {
  margin: auto;
  text-align: center;
}
